<header class="p-3 mb-3 border-bottom">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
          <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home' %}" class="nav-link px-2 link-secondary">Головна</a></li>
            <li><a href="{% url 'timetable' %}" class="nav-link px-2 link-secondary">Розклад</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Оцінки</a></li>
            <li><a href="#" class="nav-link px-2 link-secondary">Домашні завдання</a></li>
        </ul>

        <div class="dropdown text-end">
          <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            {% if user.is_authenticated %}
                {{ user.user_first_name }}
                {{ user.user_last_name }}
            {% else %}
                Авторизуйтесь, будь ласка
            {% endif %}
          </a>
          <ul class="dropdown-menu text-small">
            <li><a class="dropdown-item" href="#">Домашні завдання</a></li>
            <li>
                <form method="post" action="{% url 'logout' %}">
                {% csrf_token %}
                <button type="submit" class="dropdown-item">Вийти</button>
                </form>
            </li>
          </ul>
        </div>
      </div>
    </div>
</header>