{% extends "base.html" %}
{% block title %}Timetable{% endblock %}
    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% if timetables_with_teachers|length > 0  %}

                    <h1>Розклад</h1>
                    {% for day, timetables in timetables_with_teachers.items %}

                    <h3 align="center">{{ day }}</h3>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Предмет</th>
                                <th>Час з</th>
                                <th>Час до</th>
                                <th>Кабінет</th>
                                <th>{% if user.user_role.user_role_id == 2 %}Навчальний клас{% else %}Вчитель{% endif %}</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">

                                    {% for timetable in timetables %}
                                        <tr>
                                            <td>{{ timetable.discipline }}</td>
                                            <td>{{ timetable.start_time | time:"G:i" }}</td>
                                            <td>{{ timetable.end_time | time:"G:i" }}</td>
                                            <td>{{ timetable.cabinet }}</td>
                                            <td>{% if user.user_role.user_role_id == 2 %}{{ timetable.group_name }}{% else %}{{ timetable.teacher }}{% endif %}</td>
                                        </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endblock %}