{% extends "base.html" %}

    {% block content %}
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Розклад</h1>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>День</th>
                                <th>Предмет</th>
                                <th>Час з</th>
                                <th>Час до</th>
                                <th>Кабінет</th>
                                <th>Вчитель</th>
                            </tr>
                        </thead>
                        <tbody class="table-group-divider">
                            {% for timetable in timetables_with_teachers %}
                                <tr>
                                    <th>{{ timetable.day }}</th>
                                    <td>{{ timetable.discipline }}</td>
                                    <td>{{ timetable.start_time | time:"G:i" }}</td>
                                    <td>{{ timetable.end_time | time:"G:i" }}</td>
                                    <td>{{ timetable.cabinet }}</td>
                                    <td>{{ timetable.teacher }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    {% endblock %}